# Required: An RPC URL to the chain you want to deploy your L2Registrar to
# Tip: Try using the public RPCs in the foundry.toml file
L2_RPC_URL=

# Required: The address of your L2Registry deployed from durin.dev
L2_REGISTRY_ADDRESS=

# Required: Etherscan API key for contract verification
ETHERSCAN_API_KEY=


# For deploying Durin to new chains (not required for L2Registrar deployment)
CREATE2_DEPLOYER_ADDRESS=0x13b0D85CcB8bf860b6b79AF3029fCA081AE9beF2
L1_RESOLVER_URL="https://gateway.durin.dev/v1/{sender}/{data}"
L1_RESOLVER_SIGNER=0x1E0B906b2350aABE06e8051670b083CCe03287FD
L1_RESOLVER_OWNER=0xE997d9b785Dd99832d21b3Ce5A34fCacC6D53C57
L1_RESOLVER_ADDRESS=0x8A968aB9eb8C084FBC44c531058Fc9ef945c3D61
L2_REGISTRY_IMPLEMENTATION_ADDRESS=0xdeB09eB3111cB75d538216e8B8fC30047d75fb34
L2_REGISTRY_FACTORY_SALT=0x241aa6008075a1c8df3492b0b52c00249780a9ed1e7f8dd4518d31e5b78e1dcf
L2_REGISTRY_FACTORY_ADDRESS=0xDddddDdDDD8Aa1f237b4fa0669cb46892346d22d

